---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Mo.Makhlouf"
  description="The blog of Mo.Makhlouf."
  author="Mo.Makhlouf"
  url=""
>
  <h1 class="heading text-center">404</h1>
  <p class="paragraph text-center">The page you requested cannot be found!</p>
</BaseLayout>
