---
import BaseLayout from "../layouts/BaseLayout.astro";
import Introduction from "../components/Introduction.astro";
import Featured from "../components/Featured.astro";
---

<BaseLayout
  title="Mo.Makhlouf"
  description="The blog of Mo.Makhlouf."
  author="Mo.Makhlouf"
  url="https://blog.shamperzon.com"
>
  <div class="center">
    <section>
      <Introduction />
    </section>
    <hr />
    <section>
      <Featured />
    </section>
  </div>
</BaseLayout>
