---

---

<h1 class="heading">بسم الله</h1>
<div class="paragraph">
  <p>
    هذه المدونة خاصة بالمنصة التعليمية shamperzon.com سنقوم فيها بإذن الله بنشر
    مواد تعليمية خاصة بالعديد من فروع العلم ، في صورة نص و صور وفيديوهات إن شاء
    الله تعالى مجاناً بدون أى رسوم. وأسئل الله أن يوفقني وإياكم والسلام عليكم
    ورحمة الله وبركاته.
  </p>
</div>
