---
import IconGithub from "../assets/icons/brand-github.svg";
import IconYoutube from "../assets/icons/brand-youtube.svg";
import IconLinkedin from "../assets/icons/brand-linkedin.svg";
import IconDiscord from "../assets/icons/brand-discord.svg";
import IconTwitter from "../assets/icons/brand-x.svg";
---

<div class="flex items-center justify-center space-x-6 pb-8">
  <a
    href="https://github.com/mohammedmakhouf78"
    target="blank"
    aria-label="gitbub"><IconGithub class="socials" /></a
  >
  <a
    href="https://www.linkedin.com/in/mohammed-emad-730643116/"
    target="blank"
    aria-label="linkedin"><IconLinkedin class="socials" /></a
  >
  <a href="https://x.com/MoEmad_Emadra" target="blank" aria-label="twitter"
    ><IconTwitter class="socials" /></a
  >
</div>
